git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice] > 1.0.0a1765+g5e65ec9
aiohttp==3.4.4
asyncpg==0.18.3
Pillow==5.4.1
psutil==5.4.3
websockets==6.0
python-dateutil==2.7.
parawrap==1.0
git+https://github.com/OneEyedKnight/jishaku
youtube_dl
